/* COLOR PALLET COLORS

#EDFAFD - glass (offwhite)
#AED9DA - chill (light greenish)
#3DDAD7 - california coral (aqua marine)
#2A93D5 - bondi blue (blue)
#135589 - marina (dark blue)
*/

* {
  box-sizing: border-box;
  border: 1px red solid;
}

/* HEADER ELEMENTS*/
header { 
  background-color: white;
  color:#135589;
  text-align: center;
  padding: 20px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 0;
}

header img {
  width: 20%;
  margin: 0;
  display: inline-block;
}

.header-text-wrapper {
  width: 60%;
  display: inline-block;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

/* BODY ELEMENTS */
body {
  background-color:#AED9DA;
  width: 1024px;
  margin: auto;
  font-family: 'Cormorant Garamond', serif;
}

#river img {
  width: 100%;
}

.content-wrapper {
  background-color: #3DDAD7;
  width: 80%;
  margin: auto;
}

section {
  background-color: #2A93D5;
  display: block;
}

h3 {
  text-align: center;
  margin: 15px;
  padding-top: 15px;
  font-size: 1.5em;
}

.cookies {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 96%;
  margin: auto;
}

.cookie {
  display: inline-block;
  border: 2px solid black;
}

.cookie h4 {
  text-decoration: underline;
  margin: 4px 0;
}

/* 
h3 {
  text-decoration: underline;
  font-weight: 700;
  color: #135589;
  text-align: center;
}

h4 {
  font-size: 1.25em;
  text-align: center;
  margin: 10px 0;
}

section {
  border: 1px black solid;
}

footer { 
  background-color:#135589;
  color:#EDFAFD;
  text-align: center;
  width: 100%;
}

footer ul {
  list-style-type: none;
  width: 100%;
  border: 1px black solid;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

footer li {
  width: 15;
  border: 2px black solid;
  float: left;
  padding: 10px;
} */ */

/* ========== FORMATTING FOR SALES PAGE ========== */

/* FORMATTING FOR TABLES */
table, th, td {
  border: 1px solid black;
  padding: 5px;
}

table {
  border: 4px solid #135589;
  margin: 20px;
}

td {
  text-align: center;
}

th {
  vertical-align: bottom;
}

tr:nth-child(even) {
  background-color: #EDFAFD;
  color: #2A93D5;
}

tr:nth-child(odd) {
  background-color:#AED9DA;
  color: #135589;
}

th,
tf,
tr td:first-child {
  background-color: #2A93D5;
  color: #EDFAFD
}

/* ===== FORMATTING FOR INPUT FORM ===== */
form {
  width: 550px;
  border:4px solid #135589;
  padding: 10px;
  margin: 10px 0 30px 30px;
  background-color: #AED9DA;
  color: #135589;
}

form legend {
  margin: auto;
  font-size: 1.25em;
}

.fieldset-wrapper {
  margin: auto;
  border: 1px solid #135589;
  padding: 10px 0;
}

fieldset {
  margin-bottom: 10px;
}

.fieldset-wrapper label,
.fieldset-wrapper input {
  display: inline-block;
  width: 45%;
}

.fieldset-wrapper label {
  text-align: right;
}

.fieldset-wrapper input {
  text-align: center;
  background-color: #EDFAFD;
}

.form-buttons{
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-left: 250px;
  background-color: #EDFAFD;

}

form input[type='submit']{
  color: #135589;
}

form input[type='reset'] {
  color: red;
}