/* COLOR PALLET COLORS

#EDFAFD - glass (offwhite)
#AED9DA - chill (light greenish)
#3DDAD7 - california coral (aqua marine)
#2A93D5 - bondi blue (blue)
#135589 - marina (dark blue)
*/

* {
  box-sizing: border-box;
}

p,
h4 {
  color: #EDFAFD;
}

/* HEADER ELEMENTS*/
header { 
  background-color: white;
  color:#135589;
  text-align: center;
  padding: 20px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 0;
}

header img {
  width: 20%;
  margin: 0;
  display: inline-block;
}

.header-text-wrapper {
  width: 60%;
  display: inline-block;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

/* BODY ELEMENTS */
body {
  background-color:#AED9DA;
  width: 1024px;
  margin: auto;
  font-family: 'Cormorant Garamond', serif;
}

#river img {
  width: 100%;
}

.content-wrapper {
  background-color: #3DDAD7;
  width: 80%;
  margin: auto;
  padding: 10px;
}

section {
  display: block;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

.cookies,
.swags {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 96%;
  margin: auto;
}

.cookie {
  border: 2px solid black;
  padding: 15px;
  margin: 4px;
  background-color: #2A93D5;
}

.cookie img {
  width: 225px;
  height: 225px;
  margin: auto;
}

.cookie h4 ,
.swag h4 {
  text-decoration: underline;
  margin: 10px 0;
}

.cookie button,
.swag button {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  background-color: #3DDAD7;
  border: 2px solid #EDFAFD;
  font-size: 10px;
}

.swag {
  background-color: #2A93D5;
  border: 2px solid black;
  margin: 4px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.swag img {
  width: 40%;
  height: auto;
}

.info {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ===== EVENTS ELEMENTS */
.events {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}

.events img {
  width: 500px;
  height: 400px;
}

.events ul {
  width: 40%;
  border: 2px solid black;
  padding: 5px;
  margin-left: 10px;
  font-size: 1.25em;
  text-align: center;
  text-decoration: underline;
}

.events ul li{
  margin-top: 5px;
  text-decoration: solid;
  text-align: left;
}

/* ===== FOOTER ELEMENTS */
footer {
  padding: 10px;
}

.stores {
  display: flex;
  justify-content: space-evenly;
}

.stores li {
  background-color: #2A93D5;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.stores li :first-child {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2px;
}

/* ========== FORMATTING FOR SALES PAGE ========== */

/* FORMATTING FOR TABLES */
table, th, td {
  border: 1px solid black;
  padding: 5px;
}

table {
  border: 4px solid #135589;
  margin: 20px;
}

td {
  text-align: center;
}

th {
  vertical-align: bottom;
}

tr:nth-child(even) {
  background-color: #EDFAFD;
  color: #2A93D5;
}

tr:nth-child(odd) {
  background-color:#AED9DA;
  color: #135589;
}

th,
tf,
tr td:first-child {
  background-color: #2A93D5;
  color: #EDFAFD
}

/* ===== FORMATTING FOR INPUT FORM ===== */
form {
  width: 550px;
  border:4px solid #135589;
  padding: 10px;
  margin: 10px 0 30px 30px;
  background-color: #AED9DA;
  color: #135589;
}

form legend {
  margin: auto;
  font-size: 1.25em;
}

.fieldset-wrapper {
  margin: auto;
  border: 1px solid #135589;
  padding: 10px 0;
}

fieldset {
  margin-bottom: 10px;
}

.fieldset-wrapper label,
.fieldset-wrapper input {
  display: inline-block;
  width: 45%;
}

.fieldset-wrapper label {
  text-align: right;
}

.fieldset-wrapper input {
  text-align: center;
  background-color: #EDFAFD;
}

.form-buttons{
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-left: 250px;
  background-color: #EDFAFD;

}

form input[type='submit']{
  color: #135589;
}

form input[type='reset'] {
  color: red;
}